<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/png/partly-cloudy-day.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        <div class="container">
            <div class="left">
                {{>header}} 
            </div>
            <div class="right">
                
            </div>
        </div>
        <p>Enter your location down</p>
            <form action="">
            <input type="text" placeholder="location">
            <button>Search</button>
        </form>
        <div class="info-content">
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>