body{
    color: white;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.main-content{
    flex-grow: 1;
}
.container{
    display: flex;
    flex-direction: row;
}

.right{
    /* border: 1px solid red; */
    margin: 20px;
    padding: 20px;
}

footer{
    color: white;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 19px;
}

header a {
    color: white;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

input{
    border: 1px solid #cccccc;
    padding: 12px;
    background-color: white;
    outline: none;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background-color: rgb(77, 73, 73);
color: white;
    padding: 12px;
}